body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;

}

.byline {
  font-size: 10px;
  margin-bottom: 2px;
  font-family: 'merriweather light';

}

.banner {
  background-color: #3498db; 
  color: #fff; 
  padding: 20px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
}


.source-info {
  background-color: darkgray;
  font-size: 18px;
  margin: 0px 0px 15px 0px;
  border: black solid 2px;
  padding: 10px;
}

a {
  color:black; 
  text-decoration: underline; 
}

.blockquote {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  Font-size: 40px;
  font-style: italic;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  
}

.drop-cap-container p::first-letter {
  font-size: 3em;
  font-weight: bold;
  margin-right: 10px;
  line-height: 80%;
}

.text-body {
  font-family: 'Merriweather-regular';
}

img {
  width: 100%;

}

.lead-caption {
  font-size: 14px;
  margin: 5px 0px;
  line-height: 14px;

}

h1 {
  font-size: 40px;
  font-family:'Merriweather black italic' 

}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  line-height: 26px;
}

.other-image {
  max-width: 600px;
  display: block;
  margin: 30px auto 5px auto;
}

.byline {
  font-size: 20px;
}

.other-caption {
  font-size: 14px;
  line-height: 14px;
  max-width: 600px;
  margin: 5px auto;
}